@using Mango_Cards.Web.Models
@model LoginViewModel
@{
    ViewBag.Title = "登录";
}
@Scripts.Render("~/bundles/login")
<script>
    $(function () {
        $("#testbtn").click(function () {
            $.get("/api/TestLogin", function (result) {
                console.log(result.Message);
            });
        });
    })
</script>

<div class="item-container">
    <div class="item-inner-container">
        <div class="container" style="min-height:600px">
            <div class="row text-center">
                <h1>Mango Cards</h1>
                <h4>扫描以下二维码完成登录</h4>
                <h1 class="">
                    <i class="fa fa-angle-down"></i>
                </h1>
                <p data-bind="qrbind:viewModel.wchatLoginQrCode,visible:!viewModel.haslogin()"></p>
                <p data-bind="visible:viewModel.haslogin()">
                    <img class="img-rounded" style="width: 268px; height: 268px; " data-bind="attr:{'src':viewModel.wechatuser.Headimgurl,'alt':viewModel.wechatuser.NickName}" />
                </p>
                <p>
                    <a href="#" class="btn btn-default" data-bind="visible:viewModel.haslogin,click:viewModel.ConfirmLogin">确认登录</a>
                </p>
                <button id="testbtn">测试登录</button>
            </div>
        </div>

    </div>
</div>



@*<h2>@ViewBag.Title。</h2>
        <div class="row">
            <div class="col-md-8">
                <section id="loginForm">
                    @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        <h4>使用本地帐户登录。</h4>
                        <hr />
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="form-group">
                            @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
                            <div class="col-md-10">
                                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
                            <div class="col-md-10">
                                @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <div class="checkbox">
                                    @Html.CheckBoxFor(m => m.RememberMe)
                                    @Html.LabelFor(m => m.RememberMe)
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" value="登录" class="btn btn-default" />
                            </div>
                        </div>
                        <p>
                            @Html.ActionLink("注册为新用户", "Register")
                        </p>
                        在为密码重置功能启用帐户确认后启用此项
                            <p>
                                @Html.ActionLink("忘记了密码?", "ForgotPassword")
                            </p>
                }
            </section>
        </div>
    <div class="col-md-4">
        <section id="socialLoginForm">
            @Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })
        </section>
    </div>
    </div>*@
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}