<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mango Card</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/knockout")
    @Scripts.Render("~/bundles/moment")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/Main")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top navbar-mango">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="~/" class="navbar-brand"><img width="169" height="30" alt="Mangoeasy logo" src="/images/logo.png"></a>
                @*@Html.ActionLink("应用程序名称", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })*@
            </div>
            <div class="navbar-collapse collapse">
                @Html.Partial("_LoginPartial")
                @*<ul class="nav navbar-nav navbar-right">
                        <li>
                            <a href="#" data-bind="click:viewModel.mycards,text:(viewModel.wechatuser.NickName()!=null? viewModel.wechatuser.NickName() + '的 Mango Card':'我的 Mango Card')"></a>
                        </li>
                        <li><a href="#" data-bind="visible:viewModel.wechatuser.Id()!=null,click:viewModel.logout">注销</a></li>
                    </ul>*@
            </div>
        </div>
    </div>
    @RenderBody()
    @RenderPage("~/Views/Shared/MessageDialog.cshtml")
    <footer class="text-center" style="padding-top: 100px;padding-bottom:50px; background-color:#f8f8f8">
        <div class="container" style="padding-bottom:50px">
            <img width="78" height="30" alt="" src="/images/logo-footer.png">
        </div>
        <p style="color:#999;font-size:11px">&copy;MANGO-E 2016.</p>
        <p style="color:#999;font-size:11px">Made by the people grow up with internet.</p>
           
</footer>

    @*@Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")*@
    @RenderSection("scripts", required: false)
</body>
</html>
