@{
    Layout = null;
}
@model MangoCard_Cards.Admin.Models.MangoCardModel
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" initial-scale="1.0">
    <meta name="description" content="@Model.Description">
    <title>@Model.Title</title>
    <script src="https://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
    <script src="http://libs.useso.com/js/jquery/2.1.1/jquery.min.js"></script>
    @Styles.Render("~/Content/CardView")
    @Scripts.Render("~/bundles/CardView")
</head>
<body>
    <div>
        @Html.Raw(Model.HtmlCode)
    </div>
</body>

</html>
